@charset "UTF-8";
// style
$badge-bg-color: #f74c31;

$font-color-title: #323232;

$font-color-desc: #8d8d8d;

$font-color-about: #545454;

$font-size-17: 17px;

$font-size-16: 16px;

$font-size-14: 14px;

$font-size-13: 14px;
